.footer {
    padding-top: 30px;
    padding-bottom: 40px;
    background: #333333;
}

.footer__copyright {
    max-width: 770px;
    width: 100%;
    span {
        display: inline-block;
        font-size: 18px;
        font-family: 'Mplus 1p Medium';
        color: #fff;
        margin-bottom: 15px;
    }

    a {
        color: #b0b0b0;
        text-decoration: underline;
        transition: .3s;
    }

    a:hover {
        color: #e7e7e7;
    }

    p {
        font-size: 16px;
        font-family: 'Mplus 1p';
        color: #b0b0b0;
        line-height: 25px;
    }
}