.line-bottom {
    position: relative;
    display: inline-block;
    width: fit-content;
    z-index: 2;

    &::after {
        content: "";
        position: absolute;
        left: -5px;
        bottom: 10px;
        width: 115%;
        height: 10px;
        background: $line;
        z-index: -1;
    }

}